
ion-buttons.headline {
  size: 40px;
}

ion-title {
  width: 50%;

}

.copy-text {
  display: none;
}

@media (min-width: 576px) {
  .copy-text {
    display: inline;
  }
}

app-text-output-long {
  margin: 5px 30px 15px 30px;

}

#TextOutputDiv {
  padding-top: 5px;
  margin-top: 10px;
  background-color: rgb(40, 40, 40);
}
