<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title slot="start">Scan -> Text</ion-title>
    <ion-button id="clearButton" #clearButton slot="end" fill="clear" clear icon-only>
      <ion-icon name="trash"></ion-icon>
      <span class="clear-text">Clear</span>
    </ion-button>
    <ion-button id="ttsButton" #ttsButton slot="end" fill="clear" clear icon-only>
      <ion-icon name="volume-high"></ion-icon>
      <span class="tts-text">Speech</span>
    </ion-button>
    <ion-button id="copyButton" #copyButton slot="end" fill="clear" clear icon-only>
      <ion-icon name="Copy"></ion-icon>
      <span class="copy-text">Copy</span>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="TextOutputDiv">
    <app-text-output-long></app-text-output-long>
  </div>
</ion-content>
