ion-buttons.headline {
  size: 40px;
}
ion-title {
  width: 50%;
}
.copy-text {
  display: none;
}
.tts-text{
  display: none;
}
.clear-text{
   display: none;
}
@media (min-width: 576px) {
  .copy-text {
    display: inline;
  }
  .tts-text{
    display: inline;
  }
  .clear-text{
    display: inline;
  }
}

app-text-output-long {
  margin: 0px 20px;
  background-color: rgb(40, 40, 40);
  padding: 10px 20px;
  border-radius: 20px;

}

#TextOutputDiv {
  padding: 5px 0px;
  margin: 10px 0px;
}
