<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title slot="start">Camera</ion-title>
    <ion-button slot="end" fill="clear" clear icon-only>
      <ion-icon class="switch" name="repeat-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Camera</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="bodyelements">
    <app-text-output></app-text-output>
    <app-hand-detection></app-hand-detection>

  </div>

</ion-content>
