app-text-output{
  display: flex ;
  justify-content: center;

  width: 100%;
  background-color: rgba(18,18,18,1);

  position: fixed;
  z-index: 1;

  bottom: 0%;
  font-size: 35px;
}
app-hand-detection{
  display: flex ;

  top: 0;
  z-index: 0;
  position: fixed;
  height: 70%;
  margin-top: 0%;
}
#bodyelements{
  position: relative;
}
.switch{
  font-size: 30px;
}
