<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="infopage" href="/tabs/infopage">
      <ion-icon aria-hidden="true" name="Information"></ion-icon>
      <ion-label>Info</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="camerapage" href="/tabs/camerapage">
      <ion-icon aria-hidden="true" name="Camera"></ion-icon>
      <ion-label>Camera</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="textpage" href="/tabs/textpage">
      <ion-icon aria-hidden="true" name="Text"></ion-icon>
      <ion-label>Text</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
